In [1]:
import dash
from dash import dcc,html,Dash
from dash import dash_table
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.graph_objects as go   
import pandas as pd
import numpy as np
import dash_pivottable
import dash_bootstrap_components as dbc
import dash
import base64
import datetime
import io
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from catboost import CatBoostClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.tree import export_graphviz
from graphviz import Source
import pickle
import cloudpickle


df=pd.read_csv('Bank_Churn_Modelling.csv')

In [2]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [39]:
df.drop(['RowNumber','CustomerId'], axis=1, inplace=True)

In [40]:
df

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [41]:
df.isnull().sum()

Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Surname          10000 non-null  object
 1   CreditScore      10000 non-null  int64
 2   Geography        10000 non-null  object
 3   Gender           10000 non-null  object
 4   Age              10000 non-null  int64
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(3)
memory usage: 937.6+ KB

In [43]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

Let's Analyze and dig more deeper into the data

What 's total number of exited members?

In [44]:
df[df['Exited']==1].count().iloc[0]

2037

In [45]:
df[df['Exited']==0].count().iloc[0]

7963

Let's see the avg estimated salary of Exited no.

In [46]:
round(np.average(df[(df['Exited']==0)]['EstimatedSalary']),2)

99738.39

In [47]:
round(np.average(df[(df['Exited']==1)]['EstimatedSalary']),2)

101465.68

It seems that those who churned is worth investigating about though they are very small compared to those who are not churned . That's because their average estimated salaries are more larger than those who are not chuned. But to be more sure, let's investigate their balance in the bank and their credit score

In [48]:
round(np.average(df[(df['Exited']==1)]['CreditScore']),2)

645.35

In [49]:
round(np.average(df[(df['Exited']==0)]['CreditScore']),2)

651.85

In [50]:
round(np.average(df[(df['Exited']==1)]['Balance']),2)

91108.54

In [51]:
round(np.average(df[(df['Exited']==0)]['Balance']),2)

72745.3

Hmmm. Those who exited and their balance is high, their credit score is lower than those who have not churned. That may be because credit scores depend on many factors besides balance. But it still remains to be investigated because of two things the salary and the balance cause they are still adding value to the bank.

So let's see if there are no active member in thoe who churned

In [52]:
df[(df['Exited']==1)&(df['IsActiveMember']==0)].count().iloc[0]

1302

In [53]:
(df[(df['Exited']==1)].count().iloc[0])-(df[(df['Exited']==1)&(df['IsActiveMember']==0)].count().iloc[0])

735

In [54]:
df[(df['Exited']==1)&(df['IsActiveMember']==1)].count().iloc[0]

735

In [55]:
df[(df['Exited']==0)&(df['IsActiveMember']==1)].count().iloc[0]

4416

In [56]:
df[(df['Exited']==0)&(df['IsActiveMember']==0)].count().iloc[0]

3547

It seems that there is a high number of non-active members who have churned. that means that these customers may not add benefits to the bank through their daily transactions but they may add value through bank certificates and those who are not churned but not active members are still big in numbers though they are smaller than those who are not churned and active members So we need more investigation about those types of customers cause they affect bank economy. One of the method we can do is to make offers on using the bank more and make purchases through their bank cards and be active members. But to be sure if they make purchases we need to check the num of products they bought through their bank account.

SO let's see their salaries and balances . I mean those who are not churned but not active members

In [57]:
round(np.average(df[(df['Exited']==0)&(df['IsActiveMember']==0)]['EstimatedSalary']),2)

100342.63

In [58]:
round(np.average(df[(df['Exited']==0)&(df['IsActiveMember']==0)]['Balance']),2)

72048.82

In [59]:
round(np.average(df[(df['Exited']==0)&(df['IsActiveMember']==1)]['EstimatedSalary']),2)

99253.06

In [60]:
round(np.average(df[(df['Exited']==0)&(df['IsActiveMember']==1)]['Balance']),2)

73304.72

So let's see those who are not active and are not churned , how many products they made.

In [61]:
round(np.average(df[(df['Exited']==0)&(df['IsActiveMember']==0)]['NumOfProducts']),2)

1.55

But let's see if it is biased or not

In [62]:
df[(df['Exited']==0)&(df['IsActiveMember']==0)]['NumOfProducts'].value_counts()

2    1932
1    1597
3      18
Name: NumOfProducts, dtype: int64

In [63]:
df[(df['Exited']==0)&(df['IsActiveMember']==1)]['NumOfProducts'].value_counts()

2    2310
1    2078
3      28
Name: NumOfProducts, dtype: int64

It seems that they made purchases not too few than those who are active and not churned.

Let's see the tenure score for those who have churned and those who have not

In [64]:
round(np.average(df[df['Exited']==0]['Tenure']),2)

5.03

In [65]:
round(np.average(df[df['Exited']==1]['Tenure']),2)

4.93

Well that makes sense since those who have exited must have a tenure score lower than those who have not exited

In [5]:
df=pd.read_csv('Bank_Churn_Modelling.csv')
df.drop(['RowNumber','CustomerId'], axis=1, inplace=True)
df.drop('Surname',axis=1,inplace=True)


df_copy1=df.copy()

y=df_copy1['Exited']
df_copy1.drop('Exited',axis=1,inplace=True)

# en=OneHotEncoder(drop='first')
# geographyTransformed=en.fit_transform(df[['Geography','Gender']]).toarray()
# geographyTransformed=pd.DataFrame(geographyTransformed,columns=en.get_feature_names_out(input_features=en.feature_names_in_))
# df_copy1=pd.concat([df_copy1,geographyTransformed],axis=1).drop(['Geography','Gender'],axis=1)
# df_copy=df_copy1.copy()
df_copy1.drop(['Geography','Gender'],axis=1,inplace=True)

df_copy=df_copy1.copy()
scaler=MinMaxScaler()
df_copy=pd.DataFrame(scaler.fit_transform(df_copy),columns=scaler.get_feature_names_out(input_features=scaler.feature_names_in_))
# with open("en.pkl","wb") as b:
#     pickle.dump(en,b)
with open("scaler.pkl","wb") as s:
    pickle.dump(scaler,s)

X=df_copy
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=101)
xgb=XGBClassifier(n_estimators=13, max_depth=10, learning_rate=1.920, objective='binary:logistic')
xgb.fit(X_train,y_train)
preds=xgb.predict(X_test)
with open("model.pkl", "wb") as f:
    pickle.dump(xgb, f)

In [ ]:
import dash
from dash import dcc,html,Dash
from dash import dash_table
import base64
import datetime
import io
from dash.dependencies import Input, Output, State
import plotly.express as px
import plotly.graph_objects as go   
import pandas as pd
import numpy as np
import dash_pivottable
import dash_bootstrap_components as dbc
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from catboost import CatBoostClassifier
from sklearn.svm import SVC
from sklearn import tree
from sklearn.tree import export_graphviz
from graphviz import Source
import pickle
import cloudpickle


app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])
server = app.server


app.title= 'Bank Customers Churn Dashboard'



df=pd.read_csv('Bank_Churn_Modelling.csv')
# df.drop(['RowNumber','CustomerId'], axis=1, inplace=True)
# df.drop('Surname',axis=1,inplace=True)

# df_copy1=df.copy()
# en=OneHotEncoder(drop='first')
# geographyTransformed=en.fit_transform(df[['Geography','Gender']]).toarray()
# geographyTransformed=pd.DataFrame(geographyTransformed,columns=en.get_feature_names_out(input_features=en.feature_names_in_))
# df_copy1=pd.concat([df_copy1,geographyTransformed],axis=1).drop(['Geography','Gender'],axis=1)
# df_copy=df_copy1.copy()
# scaler=MinMaxScaler()
# df_copy=pd.DataFrame(scaler.fit_transform(df_copy),columns=scaler.get_feature_names_out(input_features=scaler.feature_names_in_))

# X=df_copy.drop('Exited',axis=1)
# y=df_copy['Exited']
# X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=101)
# xgb=XGBClassifier(n_estimators=13, max_depth=10, learning_rate=1.920, objective='binary:logistic')
# xgb.fit(X_train,y_train)
# preds=xgb.predict(X_test)
# # with open("model.pkl", "wb") as f:
# #     pickle.dump(xgb, f)


def parse_contents(contents, filename, date):
    content_type, content_string = contents.split(',')

    decoded = base64.b64decode(content_string)
    try:
        if 'csv' in filename:
        # Assume that the user uploaded a CSV file
            df1 = pd.read_csv(
                io.StringIO(decoded.decode('utf-8')))
        elif 'xls' in filename:
        # Assume that the user uploaded an excel file
            df1 = pd.read_excel(io.BytesIO(decoded))
    except Exception as e:
        print(e)
        return html.Div([
            'There was an error processing this file.'
        ])

    
    en=pickle.load(open('en.pkl','rb'))
    scaler=pickle.load(open('scaler.pkl','rb'))
    df1.drop(['RowNumber','CustomerId'], axis=1, inplace=True)
    df1.drop('Surname',axis=1,inplace=True)
    geographyTransformed=en.transform(df1[['Geography','Gender']]).toarray()
    geographyTransformed=pd.DataFrame(geographyTransformed,columns=en.get_feature_names_out(input_features=en.feature_names_in_))
    df_copy2=pd.concat([df1,geographyTransformed],axis=1).drop(['Geography','Gender'],axis=1)
    df_copy3=df_copy2.copy()
    df_copy3=pd.DataFrame(scaler.transform(df_copy3),columns=scaler.get_feature_names_out(input_features=scaler.feature_names_in_))
    # df_copy3.drop('Exited',axis=1,inplace=True)
    model=pickle.load(open("model.pkl", "rb"))
    return html.Div(model.predict(df_copy3)[0])
                    

y=html.Div([
    html.Div([html.H3("How many no. of Exited Customers vs Not Exited Customers")],style={'text-align':'center','display':'inline-block','width':'100%','font-weight':'900','font-size':'150%','text-color':'#FFFFFF'}),
    html.Div([
    html.Div([html.H3("Exited",style={'width':'100%','font-weight':'900','font-size':'150%','font-family': '"Fantasy", Times, serif'},id="tooltip-target1"),dbc.Tooltip(df[df['Exited']==1].count().iloc[0],style={'display':'inline-block','width':'200%','font-weight':'900','font-size':'150%'},target="tooltip-target1")]),
    html.Div([html.H3("Not Exited",style={'width':'100%','font-weight':'900','font-size':'150%','font-family': '"Fantasy", Times, serif'},id="tooltip-target2"),dbc.Tooltip(df[df['Exited']==0].count().iloc[0],style={'display':'inline-block','width':'200%','font-weight':'900','font-size':'150%'},target="tooltip-target2")]),
],style={'margin-bottom':'20px','margin-left':'35%','padding': '20px','border': '2px solid black','border-radius': '25px','width':'25%','height':'25%','background-color':'#FF5733', 'text-color':'#00FFFF','text-align':'center', 'float':'center'}),

html.Div([dcc.Dropdown(id='dropdown1',
        options=[
        {'label': i, 'value': i} for i in ['Gender','Geography']],
    #value=['CreditScore','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Exited'],
    value=['Gender','Geography'],
    multi=True,
    clearable=False,
    searchable=True,),
          html.Div([dcc.RadioItems(id='radio',
    options=[
        {'label': i, 'value': i} for i in ['CreditScore','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Exited']],
    value='CreditScore',style={'font-size':25})]),
html.Div(dcc.Graph(id="sunburstgraph1",style={'height':'25'})),
],style={'display':'inline-block','width':'100%'}),



html.Div([html.H3(" What do you want to check the exited customers with",style={'text-align':'center','display':'inline-block','width':'100%','font-weight':'900','font-size':'150%'}), 
          dcc.Dropdown(id='drop_down2',
            options=[
                  {'label': i, 'value': i} for i in ['CreditScore','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']
            ]),
html.Div(dcc.Graph(id="piechart1"))]),
]),

predict= html.Div([
dcc.Upload(
        id='upload-data',
        children=html.Div([
        'Drag and Drop or ',
        html.A('Select Files')
        ]),
        style={
        'width': '100%',
        'height': '60px',
        'lineHeight': '60px',
        'borderWidth': '1px',
        'borderStyle': 'dashed',
        'borderRadius': '5px',
        'textAlign': 'center',
        'margin': '10px'
         },
        # Allow multiple files to be uploaded
        multiple=False
),

html.Div(id='output-data-upload'),
])


predict_choice= html.Div([
    html.Div([
    dbc.Row([
    dbc.Col(dbc.Label("RowNumber", html_for="RowNumber", width=2)),
    dbc.Col(dbc.Input(id='RowNumber', type='text',placeholder='Please Enter Random Number', n_submit=0)),   
            ]),

            dbc.Row([
    dbc.Col(dbc.Label("CustomerId", html_for="CustomerId", width=2)),
    dbc.Col(dbc.Input(id='CustomerId', type='text',placeholder='Please Enter a Random CustomerId', n_submit=0)),   
            ]),

                    dbc.Row([
    dbc.Col(dbc.Label("Surname", html_for="Surname", width=2)),
    dbc.Col(dbc.Input(id='Surname', type='text',placeholder='Please Enter a Surname', n_submit=0)),   
            ]),

                    dbc.Row([
    dbc.Col(dbc.Label("CreditScore", html_for="CreditScore", width=2)),
    dbc.Col(dbc.Input(id='CreditScore', type='text',placeholder='Please Enter a CreditScore', n_submit=0)),   
            ]),

                    dbc.Row([
    dbc.Col(dbc.Label("Geography", html_for="Geography", width=2)),
    dbc.Col(dbc.Input(id='Geography', type='text',placeholder='Please Enter a Country', n_submit=0)),   
            ]),

                    dbc.Row([
    dbc.Col(dbc.Label("Gender", html_for="Gender", width=2)),
    dbc.Col(dbc.Input(id='Gender', type='text',placeholder='Please Enter a Gender', n_submit=0)),   
            ]),

                    dbc.Row([
    dbc.Col(dbc.Label("Age", html_for="Age", width=2)),
    dbc.Col(dbc.Input(id='Age', type='text',placeholder='Please Enter an Age', n_submit=0)),   
            ]),
                            dbc.Row([
    dbc.Col(dbc.Label("Tenure", html_for="Tenure", width=2)),
    dbc.Col(dbc.Input(id='Tenure', type='text',placeholder='Please Enter a Tenure Score Up to 10', n_submit=0)),   
            ]),
                            dbc.Row([
    dbc.Col(dbc.Label("Balance", html_for="Balance", width=2)),
    dbc.Col(dbc.Input(id='Balance', type='text',placeholder='Please Enter a Bank Balance', n_submit=0)),   
            ]),
                            dbc.Row([
    dbc.Col(dbc.Label("NumOfProducts", html_for="NumOfProducts", width=2)),
    dbc.Col(dbc.Input(id='NumOfProducts', type='text',placeholder='Please Enter NumOfProducts Up to 4', n_submit=0)),   
            ]),
                                    dbc.Row([
    dbc.Col(dbc.Label("HasCrCard", html_for="HasCrCard", width=2)),
    dbc.Col(dbc.Input(id='HasCrCard', type='text',placeholder='Please Enter Has Credit Card Value: 0 or 1 where 0 means No & 1 means Yes', n_submit=0)),   
            ]),
                                    dbc.Row([
    dbc.Col(dbc.Label("IsActiveMember", html_for="IsActiveMember", width=2)),
    dbc.Col(dbc.Input(id='IsActiveMember', type='text',placeholder='Please Enter Is Active Member Value: 0 or 1 where 0 means No & 1 means Yes', n_submit=0)),   
            ]),
                                            dbc.Row([
    dbc.Col(dbc.Label("EstimatedSalary", html_for="EstimatedSalary", width=2)),
    dbc.Col(dbc.Input(id='EstimatedSalary', type='text',placeholder='Please Enter an EstimatedSalary', n_submit=0)),   
            ]),
        
    dbc.Row([
        dbc.Label("Exited", html_for="Exited", width=1),
        dbc.Button("Predict",id='Predict', n_clicks=0, color="primary", className="me-1" )]),
]),

html.Div(id='prediction',style={'text-align':'center','display':'inline-block','width':'100%','font-weight':'900','font-size':'150%'})
])


app.layout =html.Div([
html.Div([html.H4([html.H2('Bank Churned Customers Analysis Dashboard',style={'font-size':'200%'})])],style={'float':'center','width':'98%','height':'100px','text-color':'#00FFFF','background-color':'#FF5733','margin-top':'-20px','padding': '20px','border': '2px solid white','border-radius': '25px',}), 
    
html.Div([
    html.H1(''),
    dcc.Tabs(id="tabs", value='tab-1', children=[
        dcc.Tab(label='Let\'s Break it For you', value='tab-1'),
        dcc.Tab(label='Predict By Uploading CSV File', value='tab-2'),
        dcc.Tab(label='Enter Data To Predict', value='tab-3')        
        


        
    ]),
    html.Div(id='tabs_output'),
]),
])


@app.callback(
Output("tabs_output", "children"), 
Input("tabs", "value"))
def tabs(value):
    if value == 'tab-1':
        return y
    if value == 'tab-2':
        return predict
    if value == 'tab-3':
        return predict_choice
        
        
@app.callback(
Output("sunburstgraph1","figure"),
[Input("dropdown1", "value"),
 Input("radio", "value")])

def sunburstdrop(drop,rad):
    if rad=='Tenure':
        cust_fig = px.sunburst(df, path=drop,values='Tenure')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
    elif rad=='Balance':
        cust_fig = px.sunburst(df, path=drop,values='Balance')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
    elif rad=='NumOfProducts':
        cust_fig = px.sunburst(df, path=drop,values='NumOfProducts')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
    elif rad=='HasCrCard':
        cust_fig = px.sunburst(df, path=drop,values='HasCrCard')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
    elif rad=='IsActiveMember':
        cust_fig = px.sunburst(df, path=drop,values='IsActiveMember')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
    elif rad=='EstimatedSalary':
        cust_fig = px.sunburst(df, path=drop,values='EstimatedSalary')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
    elif rad=='Exited':
        cust_fig = px.sunburst(df, path=drop,values='Exited')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
    else:
        cust_fig = px.sunburst(df, path=drop,values='CreditScore')
        cust_fig.update_traces(textinfo='label+percent entry')
        return cust_fig
@app.callback(
Output("barradio","figure"),
Input("radio", "value"))
def barradio(radio1):
    if radio1=='Gender':
        fig_hist=px.bar(df, x="Gender", y="Exited", color='Exited', title="Exited To Gender")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    elif radio1=='Geography':
        fig_hist=px.bar(df, x="Geography", y="Exited", color='Gender', title="Exited To Geography")
        fig_hist.update_layout(font_size=19)
        return fig_hist

@app.callback(
Output("piechart1", "figure"),
Input("drop_down2", "value"))
def piedrop(value1):
    if value1=='CreditScore':
        fig_hist=px.histogram(df, color="Exited", x="CreditScore")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    elif value1=='Tenure':
        fig_hist=px.histogram(df, color="Exited", x="Tenure")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    elif value1=='Balance':
        fig_hist=px.histogram(df, color="Exited", x="Balance")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    elif value1=='NumOfProducts':
        fig_hist=px.histogram(df, color="Exited", x="NumOfProducts")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    elif value1=='HasCrCard':
        fig_hist=px.histogram(df, color="Exited", x="HasCrCard")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    elif value1=='IsActiveMember':
        fig_hist=px.histogram(df, color="Exited", x="IsActiveMember")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    elif value1=='EstimatedSalary':
        fig_hist=px.histogram(df, color="Exited", x="EstimatedSalary")
        fig_hist.update_layout(font_size=19)
        return fig_hist
    else:
        fig_hist=px.histogram(df, color="Exited", x="Exited")
        fig_hist.update_layout(font_size=19)
        return fig_hist
        
@app.callback(Output('output-data-upload', 'children'),
              [Input('upload-data', 'contents')],
              [State('upload-data', 'filename'),
               State('upload-data', 'last_modified')])
def update_output(list_of_contents, list_of_names, list_of_dates):
    if list_of_contents is not None:
        children = [parse_contents(list_of_contents, list_of_names, list_of_dates)] 
        return children

@app.callback(Output('prediction', 'children'),
           Input('Predict', 'n_clicks'),
           [State('RowNumber', 'value'),
           State('CustomerId', 'value'),
           State('Surname', 'value'),
           State('CreditScore', 'value'),
           State('Geography', 'value'),
           State('Gender', 'value'),
           State('Age', 'value'),
           State('Tenure', 'value'),
           State('Balance', 'value'),
           State('NumOfProducts', 'value'),
           State('HasCrCard', 'value'),
           State('IsActiveMember', 'value'),
           State('EstimatedSalary', 'value')],)
             #prevent_initial_call=True,)
def update_output(n_clicks,RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary):
    # en=pickle.load(open('en.pkl','rb'))
    scaler=pickle.load(open('scaler.pkl','rb'))
    list_of_contents1=[RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary]
    list_of_contents1=pd.Series(list_of_contents1)
    pd.options.mode.use_inf_as_na = True

    # dk=df.copy()
    # dk.drop('Exited',axis=1, inplace=True)
    # d= pd.DataFrame(list_of_contents1, columns=[dk.columns]).reset_index(drop = True)

    # list_of_contents1.reset_index(drop=True, inplace=True)
    d= pd.DataFrame([list_of_contents1],columns=['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'])
    
    # d.reset_index(drop=True, inplace=True)
    # df2= pd.DataFrame(list_of_contents1, columns=['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'])
    if not RowNumber and not CustomerId and not Surname and not CreditScore and not Geography and not Gender and not Age and not Tenure and not Balance and not NumOfProducts and not HasCrCard and not IsActiveMember and not EstimatedSalary:
        return None
    else:
        d.drop(['RowNumber','CustomerId'], axis=1, inplace=True)
        d.drop('Surname',axis=1,inplace=True)
        #geographyTransformed=en.transform(d[['Geography','Gender']]).toarray()
        #geographyTransformed=pd.DataFrame(geographyTransformed,columns=en.get_feature_names_out(input_features=en.feature_names_in_))
        #df_copy2=pd.concat([d,geographyTransformed],axis=1).drop(['Geography','Gender'],axis=1)
        #df_copy3=df_copy2.copy()
        d.drop(['Geography','Gender'], axis=1, inplace=True)
        df_copy3=d.copy()
        df_copy3=pd.DataFrame(scaler.transform(df_copy3),columns=scaler.get_feature_names_out(input_features=scaler.feature_names_in_))
        # df_copy3['Surname']=df_copy3['Surname'].astype(float) # cause of the np.nan error we have to convert to float before entering it to the model
        # df_copy3['Geography']=df_copy3['Geography'].astype(float)
        # df_copy3['Gender']=df_copy3['Gender'].astype(float)
        # df_copy3=df_copy3.astype(float, errors='ignore')
        # df_copy3.drop('Exited',axis=1,inplace=True)
        model=pickle.load(open("model.pkl", "rb"))
        return html.Div(model.predict(df_copy3))
        # return df_copy3.to_json()
        
        
if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8050
Press CTRL+C to quit
127.0.0.1 - - [25/Dec/2023 23:34:22] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:37] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:41] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:50] "GET /_dash-component-suites/dash/dcc/async-upload.js HTTP/1.1" 304 -
127.0.0.1 - - [25/Dec/2023 23:34:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:54] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:54] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [25/Dec/2023 23:34:54] "POST /_dash-update-component HTTP/1.1" 200 -